* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

header {
  width: 90%;
  margin: 0.625rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .left-side a img {
  width: 5rem;
}

header .right-side {
  display: flex;
}

header .right-side .nav-link-wrapper a {
  padding: 0.625rem;
  margin: 0.625rem;
  text-decoration: none;
  color: black;
}

header .right-side .nav-link-wrapper a:hover {
  padding: 0.625rem;
  margin: 0.625rem;
  text-decoration: none;
  color: white;
  background-color: green;
  border-radius: 0.5rem;
}

.container {
  max-width: 90%;
  margin: 3.125rem auto;
  display: flex;
}

.container .left-side {
  text-align: left;
  flex: 1;
}

.container .left-side h1 {
  font-size: 3.75rem;
  letter-spacing: 0.125rem;
}

.container .left-side h1 .green {
  color: green;
  font-family: "Viga", serif;
}

.container .left-side p {
  font-size: 1.25rem;
  letter-spacing: 0.03125rem;
}

.container .left-side a {
  display: inline-block;
  background: green;
  padding: 0.75rem 1.125rem 0.75rem 1.125rem;
  text-decoration: none;
  border-radius: 1.5625rem;
  color: white;
  margin-top: 0.9375rem;
  font-size: 1.0625rem;
  font-weight: bold;
}

.container .right-side {
  flex: 1;
  text-align: center;
}

.container .right-side img {
  width: 20.625rem;
  margin-left: 9.375rem;
  margin-top: -1.875rem;
}

.container .right-side .box {
  display: grid;
  position: absolute;
  bottom: 40%;
  right: 1%;
}

.container .right-side .box img {
  width: 1.5625rem;
  margin: 0.625rem;
}

.container .right-side .box img.facebook {
  width: 1.15625rem;
}

.thumb {
  position: absolute;
  bottom: 0%;
  left: 40%;
}

.thumb a:hover {
  margin-top: -0.9375rem;
  transition: 0.2s;
}

.thumb img {
  width: 3.375rem;
  margin: 1.25rem;
}